@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    font-size: 62.5%;

    --dark-grayish-blue: hsl(217, 19%, 35%);
    --desatured-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    --font-manrope: "Manrope", serif;
    --font-weight-regular: 500;
    --font-weight-bold: 700;
}

/* Layout */
.layout--full-height {
    height: 100vh;
  }

  .layout--centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.padding--layout{
    padding-inline: 2.5rem;
}

.padding-container{
    padding-inline: 2em;
}

/*Container structure*/

.container{ 
    max-width: 40rem;
    max-height: 54rem;
    display: flex;
    flex-flow: column;
    position: relative;
    border-radius: 1rem;
    padding-inline: 3.5rem;

}

.container__image-wrapper{
    margin: -3.5rem -3.5rem 4rem -3.5rem;
    overflow: hidden;
    aspect-ratio: 15/10;
    border-radius: 1rem 1rem 0rem 0rem;
}

.container__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.content{
    font: normal var(--font-weight-regular) clamp(1.3rem, 1.2vw + 1rem, 1.5rem)
    /150% var(--font-manrope);
}

.content__title{
    font-size: clamp(1.7rem, 2vw + 1rem, 2.3rem);
    font-weight: var(--font-weight-bold);
    line-height: 150%;
}

.content__text{
    margin-block: 1em 2.5em;
    min-width: 31.5ch;
}

/*post-info structure*/
.post-info{
    display: flex;
    margin-block: 1em 1em;
}

.post-info__image{
    width: 5rem;
    border-radius: 50%;
}

.post-info__details{
    padding-inline: 1.5em;
    align-self: center;
}

.post-info__author{
    margin-block-end: 0.2em;
}

/* Share Button */
.button--share{
    width: 3.8rem;
    height: 3.8rem;
    align-self: center;
    border-radius: 50%;
    margin-inline-start: auto;
    border: none;
    z-index: 2;
}

.button-icon{
    width: 70%;
    object-position: center;
}

.button--share:hover, .button--share:focus{
    cursor: pointer;
    background-color: var(--grayish-blue);
}

.share-section{
    display: none;
    align-items: center;
    position: absolute;
    min-width: 100%;
    bottom: 0;
    z-index: 1;
    margin: 0rem -3.5rem;
    padding-block: 2em;
    border-radius: 0rem 0rem 1rem 1rem;
}

.share-section__text{
    text-transform: uppercase;
    letter-spacing: 0.5em;
    padding-inline: 2.5em 1.2em;
}

.share-link{
    display: flex;
    align-items: center;
    padding-inline-end: 1.3em;
}

.share-link__icon{
    height: 2.5rem
}

/* Attribution */
.attribution {
    font-size: 1.3rem; 
    text-align: center;
    position: fixed;
    inset-block-end: 0;
    padding-block-end: 0.2em;
}

  /* Skins and Themes*/
.bg--light-grayish-blue {
    background-color: var(--light-grayish-blue);
}

.bg--white{
    background-color: white;
}

.bg--dark-blue{
    background-color: var(--dark-grayish-blue);
}

.text--dark-blue{
    color: var(--dark-grayish-blue);
    font-weight: var(--font-weight-bold);
}

.bg--desatured-dark-blue{
    background-color: var(--desatured-dark-blue);
}

.text--desatured-dark-blue{
    color: var(--desatured-dark-blue);
}

.text--grayish-blue{
    color: var(--grayish-blue);
}

.text--white{
    color: var(--light-grayish-blue);
    font-weight: 50;
}

.text--link{
     color: hsl(228, 45%, 44%);
}

.text--link:visited{
    color: purple;
}


@media screen and (min-width: 992px) {
    .container{
        max-height: 34rem;
        max-width: 86rem;
        flex-flow: row;
        padding: 0;
    }
    
.container__image-wrapper{
        width: 41%;
        margin: 0em;
        margin-inline-end: 1em;
        border-radius: 1rem 0rem 0rem 1rem;
}

.container__image{
    object-fit: cover;
    object-position: top left;
}

.content{
    width: 50%;
    padding: 2.5em;
    font-size: 1.5rem;
    line-height: 150%
}

.content__title{
    font-size: 2.3rem;
    max-width: 28ch;
}

.content__text{
    margin-block: 1em 1.5em;
    max-width: 45ch;
}

.post-info__details{
    padding-inline: 1.2em;
}

.icon__design{
    width: 300px;
    height: auto;
}

.button--share{
    margin-inline-end: 0.5em;
}

.share-section{
    display: none;
    border-radius: 1em;
    min-width: 0;
    margin: 0;
    padding: 1.31em;
    inset-block-end: 8em;
    inset-inline-end: -5.5em;
    box-shadow: 0rem 1.5rem 1.8rem -0.5rem hsl(212, 45%, 85%);
}

.share-section::after{
    content: "";
    position: absolute;
    inset-block-end: -1.45rem;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-inline: 1.5rem solid transparent;
    border-block-start: 1.5rem solid var(--dark-grayish-blue);
    box-shadow: 0rem 1.5rem 1.8rem -0.5rem hsl(212, 45%, 85%);
}

.share-section__text{
    padding-inline: 1.2em
}
}